{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h2>Log in</h2>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Inloggen</button>
            <a href="{% url 'password_reset' %}" class="btn btn-link">wachtwoord vergeten?</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
