{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-8">
      <h2>Pas je wachtwoord aan</h2>
      <p>We hebben een email gestuurd met instructies om je wachtwoord aan te passen.</p>
      <p>Mocht je de email niet binnen krijgen, check dan uw spambox en verifieer dat uw de juiste details ingevuld heeft.</p>
    </div>
  </div>
{% endblock %}
