{% extends 'base.html' %}

{% block content %}
  <h2>Homepage</h2>
  <p>Welkom bij de lokale boer, {% if user.is_authenticated %}{{ user.username }}{% else %}bezoeker{% endif %}!</p>
  <p>
    <strong>Totaal geregisteerde gebruikers: </strong> {{ count }}
  </p>
{% endblock %}
